<!DOCTYPE html>
<html lang="en">
    {{> head  }}

<body>
    {{> navbar  }}

    <div class="row">
        <div class="col-8">
            <h1>Leprechaun</h1>
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odio tenetur fugiat animi, vitae tempore repellendus, eum illum mollitia quaerat eveniet iusto error illo, dolorem maxime fugit? Nostrum minus ipsum expedita?
            </p>
        </div>

        <div class="col-4">
            <img src="assets/img/leprechaun.jpeg" class="img-thumbnail">
        </div>
        
    </div>

    {{> footer }}

</body>

</html>